version: "3.9"
services:
  backend:
    # build Dockerfile in current directory
    build: backend
    # configure app
    environment:
      FLASK_SECRET_KEY: good_password
      FLASK_DATABASE: mongodb://root:better_password@mongo:27017
    ports:
      - "5000:5000"

  frontend:
    build: frontend
    ports:
      - "80:8080"

  # database service
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: better_password
